# build junk
bin/
obj/
iso_root/
*.iso

# the disk image is generated, and is meant to be written to
disk.img
tinyos-boot.img
*.img
ramdisk/bin/

# limine binaries get pulled in by make, no point tracking them
limine/
